In [1]:
import pandas as pd 
import community
import networkx as nx

In [88]:
def sort_shop(row_df):
	print "shop ranking..."
	names = ["cardaccptrid", "userid", "outmoney"]
	df = row_df[names]

	trade_df = df[['cardaccptrid', 'userid']]
	unique_df = trade_df[trade_df.duplicated()].groupby("cardaccptrid").agg({"userid":"count"}).reset_index()
	unique_df.rename(columns={'userid':'userid_cnt'}, inplace=True)
	new_df = df.groupby("cardaccptrid").agg({"userid":'count', "outmoney": 'sum'}).reset_index()
	new_df.rename(columns={"userid":"trade_cnt"}, inplace=True)

	merge_df = pd.merge(unique_df, new_df, on=['cardaccptrid'] )
	merge_df['trade_avg'] = merge_df["trade_cnt"]*1.0/merge_df["userid_cnt"]
	merge_df['money_avg'] = merge_df["outmoney"]/ merge_df["userid_cnt"]

	merge_df =  merge_df.sort_values(by="money_avg", axis=0, ascending=False).reset_index(drop=True)
	merge_df["money_avg_rank"] = merge_df.index
	merge_df = merge_df.sort_values(by="trade_avg", axis=0, ascending=False).reset_index(drop=True)
	merge_df["trade_avg_rank"] = merge_df.index
	
	shop_num = merge_df.shape[0]
	merge_df['label'] = ((merge_df["money_avg_rank"] < shop_num*0.5).apply(lambda x:int(x))) * 10 + (merge_df["trade_avg_rank"] < shop_num*0.5).apply(lambda x:int(x))
	return merge_df

In [72]:
def sort_partition(row_df, cluster_dic):
	'''
	cluster_dic, key is the number of partition and value is the set of cardaccptrids and userids.
	according to the RFM model, give each partition a risk label
	'''
	df = row_df.copy()
	print "sort..."
	kpi_data = list()
	for key, value in cluster_dic.items():
		shops = set()
		userids = set()
		for item in value:
			if item.find("shop") != -1:
				shops.add(item.split("_")[1])
			elif item.find("user") != -1:
				userids.add(item.split("_")[1])
			else:
				print key, value
				raise Exception(" 'user' or 'shopt' don't exist... pls set them")
		sub_df = df[(df["cardaccptrid"].isin(shops)) & (df["userid"].isin(userids))]		
		
		sub_trade_num = sub_df.shape[0]
		sub_trade_money = sub_df.outmoney.sum()
		sub_userid_cnt = sub_df.userid.unique().size
		sub_shop_cnt = sub_df.cardaccptrid.unique().size
		try:
			kpi_data.append([key, float(sub_trade_num)/sub_shop_cnt, float(sub_trade_money)/sub_shop_cnt, float(sub_userid_cnt)/sub_shop_cnt])
		except:
			print "shop doesn't exist 。。。"
			print value 
			print 80*"="

	column_names = ["com_num", "num_avg", "money_avg", "cnt_avg"]
	new_df = pd.DataFrame(kpi_data, columns = column_names)
	new_df = new_df.sort_values(by="money_avg", axis=0, ascending=False).reset_index(drop=True)
	new_df["money_avg_rank"] = new_df.index
    
	new_df = new_df.sort_values(by="num_avg", axis=0, ascending=False).reset_index(drop=True)
	new_df["num_avg_rank"] = new_df.index
    
	new_df = new_df.sort_values(by="cnt_avg", axis=0, ascending=True).reset_index(drop=True)
	new_df["cnt_avg_rank"] = new_df.index
	    
	total_cnt = new_df.shape[0]
	new_df['label'] = ((new_df["money_avg_rank"] < (total_cnt * 0.1)).apply(lambda x:int(x)) * 10 + (new_df["num_avg_rank"] < (total_cnt * 0.1)).apply(lambda x:int(x))) * 10 + (new_df["cnt_avg_rank"] < (total_cnt * 0.1)).apply(lambda x:int(x))
	return new_df

In [75]:
new_df = sort_partition(df2, cluster)

sort...

In [76]:
new_df.columns

Index([u'com_num', u'num_avg', u'money_avg', u'cnt_avg', u'money_avg_rank',
       u'num_avg_rank', u'cnt_avg_rank', u'label'],
      dtype='object')

In [82]:
nums = new_df.com_num[new_df['label'] == 111].values

In [89]:
for num in nums:
    values = cluster[num]
    shops = set()
    userids = set()
    for item in values:
        if item.find("shop") != -1:
            shops.add(item.split("_")[1])
        elif item.find("user") != -1:
            userids.add(item.split("_")[1])
        else:
            print key, value
            raise Exception(" 'user' or 'shopt' don't exist... pls set them")
    sub_df = df2[(df2["cardaccptrid"].isin(shops)) & (df2["userid"].isin(userids))]
    print sort_shop(sub_df)
    break

shop ranking...
      cardaccptrid  userid_cnt  outmoney  trade_cnt  trade_avg    money_avg  \
0  88739D059431997           1   1603.25          2   2.000000  1603.250000
1  857350354997479           2   2972.21          3   1.500000  1486.105000
2  88739D153116056           2   2495.39          3   1.500000  1247.695000
3  88739D072977792           3   2504.44          4   1.333333   834.813333
4  857350348126195           4   5000.00          5   1.250000  1250.000000
5  88739D052513899           4   2182.54          5   1.250000   545.635000
6  857350357127486           5   5200.00          6   1.200000  1040.000000
7  88739D258125748           5   3729.33          6   1.200000   745.866000
8  88739D075383867           7   2773.58          8   1.142857   396.225714
9  88739D042150147          11   5243.15         12   1.090909   476.650000

   money_avg_rank  trade_avg_rank  label
0               0               0     11
1               1               1     11
2               3               2     11
3               5               3      1
4               2               4     11
5               7               5      0
6               4               6     10
7               6               7      0
8               9               8      0
9               8               9      0

In [95]:
final_df = sort_shop(sub_df)
final_df.cardaccptrid[final_df['label']==11].values.tolist()

shop ranking...

['88739D059431997', '857350354997479', '88739D153116056', '857350348126195']

In [25]:
print "begin.."
file_name = "~/Downloads/shanfu_10days2.txt"
df = pd.read_csv(file_name, "\t")
print df.columns
df = df[['cardaccptrid', 'userid', "outmoney"]][df['cardaccptrid'] != 0]
df2 = df.copy()
df = df[~df['cardaccptrid'].isnull()]
df['cardaccptrid'] = df.apply(lambda x: "shop_" + str(x[0] if isinstance(x[0], str) else long(x[0])), axis = 1)
df['userid'] = df.apply(lambda x: "user_" + str(x[1] if isinstance(x[1], str) else long(x[1])), axis = 1)

data = [(row['cardaccptrid'], row['userid'], row['outmoney']) for idx, row in df.iterrows()]

G = nx.Graph()
G.clear() #将图上元素清空

# G.add_edges_from(data)
G.add_weighted_edges_from(data)

partition = community.best_partition(G)

cluster = dict()
for key, value in partition.items():
    cluster[value] = cluster.get(value, list()) + [key]

new_df = sort_partition(df2, cluster)
# new_df.to_csv("~/Downloads/shanfu_10days2_comrank.csv")

begin..
Index([u'cardaccptrid', u'userid', u'outmoney'], dtype='object')
sort...

In [29]:
new_df[new_df['label'] == 0]

,com_num,num_avg,money_avg,cnt_avg,money_avg_rank,num_avg_rank,cnt_avg_rank,label
728,728,1.000000,160.000000,1.000000,728,728,728,0
729,729,9.000000,5408.500000,7.000000,729,729,729,0
730,730,1.000000,248.600000,1.000000,730,730,730,0
731,731,1.333333,1127.000000,0.333333,731,731,731,0
732,732,1.000000,299.500000,1.000000,732,732,732,0
733,733,1.000000,761.000000,1.000000,733,733,733,0
734,734,2.700000,2330.100000,0.500000,734,734,734,0
735,735,1.000000,922.000000,1.000000,735,735,735,0
736,736,1.000000,524.000000,1.000000,736,736,736,0
737,737,1.500000,1500.000000,0.750000,737,737,737,0
738,738,1.000000,138.000000,1.000000,738,738,738,0
739,739,1.000000,224.000000,1.000000,739,739,739,0
740,740,1.000000,131.000000,1.000000,740,740,740,0
741,741,1.000000,674.333333,0.333333,741,741,741,0
742,742,1.000000,275.000000,0.333333,742,742,742,0
743,743,1.000000,239.594286,0.071429,743,743,743,0
744,744,1.333333,1326.666667,0.333333,744,744,744,0
745,745,1.000000,999.990000,1.000000,745,745,745,0
746,746,1.000000,235.000000,1.000000,746,746,746,0
747,747,1.000000,301.000000,1.000000,747,747,747,0
748,748,3.000000,2948.495000,1.500000,748,748,748,0
749,749,1.000000,447.333333,0.333333,749,749,749,0
750,750,2.000000,2000.000000,1.000000,750,750,750,0
751,751,1.000000,293.000000,0.500000,751,751,751,0
752,752,1.333333,1156.000000,0.333333,752,752,752,0
753,753,1.000000,834.454545,0.090909,753,753,753,0
754,754,1.000000,1000.000000,0.500000,754,754,754,0
755,755,1.000000,240.000000,1.000000,755,755,755,0
756,756,1.000000,180.000000,1.000000,756,756,756,0
757,757,1.000000,1000.000000,1.000000,757,757,757,0
...,...,...,...,...,...,...,...,...
3606,3606,1.000000,360.000000,1.000000,3606,3606,3606,0
3607,3607,1.000000,998.300000,1.000000,3607,3607,3607,0
3608,3608,1.000000,678.800000,0.500000,3608,3608,3608,0
3609,3609,1.000000,205.000000,1.000000,3609,3609,3609,0
3610,3610,3.000000,3000.000000,1.000000,3610,3610,3610,0
3611,3611,1.000000,400.000000,1.000000,3611,3611,3611,0
3612,3612,1.000000,118.000000,1.000000,3612,3612,3612,0
3613,3613,1.000000,404.000000,1.000000,3613,3613,3613,0
3614,3614,1.000000,168.000000,1.000000,3614,3614,3614,0
3615,3615,1.000000,760.000000,1.000000,3615,3615,3615,0
3616,3616,1.000000,480.000000,1.000000,3616,3616,3616,0
3617,3617,1.000000,1000.000000,1.000000,3617,3617,3617,0
3618,3618,1.000000,182.000000,1.000000,3618,3618,3618,0
3619,3619,1.000000,150.000000,1.000000,3619,3619,3619,0
3620,3620,1.000000,988.000000,1.000000,3620,3620,3620,0
3621,3621,1.000000,730.000000,1.000000,3621,3621,3621,0
3622,3622,1.000000,248.000000,1.000000,3622,3622,3622,0
3623,3623,1.000000,596.000000,1.000000,3623,3623,3623,0
3624,3624,1.000000,998.000000,1.000000,3624,3624,3624,0
3625,3625,1.000000,405.000000,1.000000,3625,3625,3625,0
3626,3626,1.000000,200.000000,1.000000,3626,3626,3626,0
3627,3627,1.000000,365.000000,1.000000,3627,3627,3627,0
3628,3628,1.000000,243.900000,1.000000,3628,3628,3628,0
3629,3629,1.000000,200.000000,1.000000,3629,3629,3629,0
3630,3630,1.000000,110.000000,1.000000,3630,3630,3630,0
3631,3631,3.000000,3000.000000,1.000000,3631,3631,3631,0
3632,3632,2.000000,918.000000,1.000000,3632,3632,3632,0
3633,3633,2.000000,550.000000,1.000000,3633,3633,3633,0
3634,3634,1.000000,995.000000,1.000000,3634,3634,3634,0
3635,3635,1.000000,1000.000000,1.000000,3635,3635,3635,0

In [8]:
shops = set()
userids = set()
for item in cluster[0]:
    if item.find("shop") != -1:
        shops.add(item.split("_")[1])
    elif item.find("user") != -1:
        userids.add(item.split("_")[1])

In [9]:
shops

{'817100053110034'}

In [12]:
len(userids)

62946